[build]

# Fast linker (Linux)
[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=lld"]

# Optimize dev builds
[profile.dev]
split-debuginfo = "unpacked"

[alias]
ex = "run --example"
check-all = "clippy --all-targets -- -D warnings"
